@import "variable";
$sizes: (
    0: 0,
    xxs: 4px,
    xs: 8px,
    s: 16px,
    m: 24px,
    l: 32px,
    xl: 40px,
    xxl: 48px
);

@each $k, $v in $sizes{
    .hblock-#{$k}{
        .block-title{
            font-size: 1.3em;
            font-weight: bold;
        }
        @include hblock($v)
    }
    .vblock-#{$k}{
        .block-title{
            font-size: 1.3em;
            font-weight: bold;
        }
        @include vblock($v)
    }

    .hborder-#{$k}{
        &>*{
            border-right: 1px solid #efefef;
            padding-right: $v;
            &:last-child{
                border-right: 0;
                padding-right: 0;
            }
        }
    }
    .vborder-#{$k}{
        &>*{
            border-bottom: 1px solid #efefef;
            padding-bottom: $v;

            &:last-child{
                border-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

    .hbox-#{$k}{
        @extend .hblock;
        @extend .hblock-#{$k};
        @extend .hborder-#{$k};
    }
    .hbox-wrap-#{$k}{
        @extend .hblock-wrap;
        @extend .hblock-#{$k};
        @extend .hborder-#{$k};
    }
    .vbox-#{$k}{
        @extend .vblock-#{$k};
        @extend .vborder-#{$k};
    }
}

.hblock{
    display: flex;
    align-items: center;
}
.hblock-inline{
    @extend .hblock;
    display: inline-flex;
}
.hblock-wrap{
    @extend .hblock;
    flex-wrap: wrap;
}
.vblock{
    display: flex;
    flex-direction: column;
    align-items: center;
}