$sizes: (
    0: 0,
    xxs: 2px,
    xs: 4px,
    s: 8px,
    m: 16px,
    l: 24px,
    xl: 32px,
    xxl: 40px
);

@mixin borderColorMixin(){
    @each $borderKey, $borderColor in (
        light: whitesmoke,
        dark: #e9e9e9,
    ){
        &.border-#{$borderKey}{
            &>*{
                border-color: $borderColor;
            }
        }
    }
}

@each $k, $v in $sizes{
    .h-#{$k}{
        &>* + *{
            margin-left: $v;
        }
    }
    .v-#{$k}{
        &>* + *{
            margin-top: $v;
        }
    }

    .hb-#{$k}{
        @include borderColorMixin;
        &>*{
            border-right: 1px solid #efefef;
            
            padding-right: $v;
            &:last-child{
                border-right: 0;
                padding-right: 0;
            }
        }
    }
    .vb-#{$k}{
        @include borderColorMixin;
        &>*{
            border-bottom: 1px solid #efefef;
            padding-bottom: $v;

            &:last-child{
                border-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

    .hbox-#{$k}{
        @extend .h;
        @extend .h-#{$k};
        @extend .hb-#{$k};
    }
    .vbox-#{$k}{
        @extend .v-#{$k};
        @extend .vb-#{$k};
    }

    .p-#{$k}{
        padding: $v;
    }
}
@each $k, $v in $sizes{
    .p-h-#{$k}{
        padding-left: $v;
        padding-right: $v;
    }
    .p-v-#{$k}{
        padding-top: $v;
        padding-bottom: $v;
    }
}
@each $k, $v in $sizes{
    .p-t-#{$k}{
        padding-top: $v;
    }
    .p-l-#{$k}{
        padding-left: $v;
    }
    .p-r-#{$k}{
        padding-right: $v;
    }
    .p-b-#{$k}{
        padding-bottom: $v;
    }
}

.h{
    display: flex;
    align-items: center;
}
.v{
    display: flex;
    flex-direction: column;
}


@each $val in (
    auto, 
    visible,
    hidden,
    scroll,
){
    .overflow-#{$val}{
        overflow: $val !important;
    }
}

@each $val in (0, 1, 2, 3, 4, 5, 6, 7, 8, 9){
    .f-#{$val}{
        flex: $val;
    }
    .shrink-#{$val}{
        flex-shrink: $val;
    }
    .grow-#{val}{
        flex-grow: $val;
    }
} 

@each $val in (
    flex-start,
    flex-end,
    center,
    space-between,
    space-evenly,
    space-around,
    initial,
    inherit,
){
    .justify-#{$val}{
        justify-content: $val;
    }
}
@each $val in (
    stretch,
    center,
    flex-start,
    flex-end,
    baseline,
    initial,
    inherit,
){
    .align-#{$val}{
        align-items: $val;
    }
}

.page{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    &>&{
        position: absolute;
        top: 0;
        left: 0;
    }
}

.clickable{
    cursor: pointer;
    transition: opacity .3s;

    &:hover{
        opacity: .75;
    }
}

.title{
    font-weight: bold;
}